[submodule "libs/Services"]
	path = libs/Services
	url = git@github.com:Qt-IPhoneOS/Services.git
[submodule "libs/MiddlewareLayer"]
	path = libs/MiddlewareLayer
	url = git@github.com:Qt-IPhoneOS/MiddlewareLayer.git
[submodule "libs/UICommon"]
	path = libs/UICommon
	url = git@github.com:Qt-IPhoneOS/UICommon.git
[submodule "apps/Home"]
	path = apps/Home
	url = git@github.com:Qt-IPhoneOS/Home.git
[submodule "apps/Phone"]
	path = apps/Phone
	url = git@github.com:Qt-IPhoneOS/Phone.git
[submodule "apps/Setting"]
	path = apps/Setting
	url = git@github.com:Qt-IPhoneOS/Setting.git
